* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;


}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: auto;
}

/* section_1-navigation_bar start*/


.section_1-navigation_bar {
    background-color: #282E3F;
    color: #ffff;
}

.nav_content {
    display: flex;
    gap: 120px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav_logo_items {
    display: flex;
    gap: 9.75px;
    align-items: center;
}

.nav_logo img {
    padding-top: 10px;
}

.nav_logo_items h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Crimson Text", serif;
}

.nav_logo_items p {
    font-size: 10px;
    font-family: "DM Sans", sans-serif;
    color: #BBBBBB;
}

.nav_all_ancor {
    display: flex;
    gap: 40PX;
    align-items: center;
}

.nav_all_ancor a {
    padding-left: 35px;
    font-size: 15px;
    color: #fff;
}

.nav_all_ancor a:hover {
    color: #CF9455;
    transition: .3s;
}

.nav_btn {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px 27px;
    border: solid 1px #CF9455;
    background-color: #CF9455;
}

.nav_btn p {
    font-size: 15px;
}

.nav_btn i {
    font-size: 12px;
    padding-top: 2px;
}

.nav_icon i {
    padding-left: 30px;
    font-size: 20px;
}


.nav-section {
    display: none;
}


/* section_1-navigation_bar end*/

/* nav-section-style-only-smartphone start*/

header {
    background-color: #282E3F;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: absolute;
    z-index: 100;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-right: 120px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    transition: .3s all;


}

nav a:hover {
    color: #eb4d4b;
}


input {
    display: none;
}

.ui-btn p {
    padding: 12px 24px;
    border: solid 1px #A8FE3B;
    background-color: #A8FE3B;
    color: #000;
    font-size: 18px;
}

.nav_main-header h1 {
    font-size: 26px;
    color: #fff;
    text-align: center;

}

/* nav-section-style-only-smartphone end*/


/*--------------------------
 Responsiv For Tablet 
---------------------------*/

@media (max-width: 992px) {

    /* section_1-navigation_bar start*/

    .nav-section {
        display: none;
    }

    .section_1-navigation_bar {
        display: block;
    }

    .nav_content {
        gap: 20px;
    }

    .nav_all_ancor {
        gap: 15px;

    }

    .nav_all_ancor a {
        padding-left: 12px;
        font-size: 10px;
    }

    .nav_btn {
        gap: 10px;
        padding: 10px 15px;
    }

    .nav_btn p {
        font-size: 10px;
    }


    .nav_btn i {
        font-size: 12px;
        padding-top: 0px;
    }

    .nav_icon i {
        padding-left: 10px;
        font-size: 15px;
    }

    /* section_1-navigation_bar end*/

}


/*--------------------------
 Responsiv For Tablet end
-----------------------------*/

/*--------------------------------
 Responsiv For Smartphone start
-----------------------------------*/

@media (max-width: 767px) {

    .section_1-navigation_bar {
        visibility: hidden;
    }

    .nav-section {
        display: block;
    }

    /* Only Smartphone */

    nav {
        position: absolute;
        top: 90px;
        left: 0;
        background-color: #282e3fa6;
        backdrop-filter: blur(20px);
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 0;
        justify-content: flex-start;
        gap: 37px;
        overflow: hidden;
        transition: .5s;
    }

    nav a:nth-child(1) {
        margin-top: 30px;
    }

    label {
        width: 45px;
        height: 30px;
        position: relative;
    }

    label div {
        width: 100%;
        height: 5px;
        background-color: #ffffff;
        position: absolute;
        border: 99px;
        transform: translate(-50%);
        transition: 0.3s;
        transform: scale(1);
        opacity: 1;
    }

    label div:nth-child(1) {
        top: 0;
    }

    label div:nth-child(2) {
        top: 50%;
    }

    label div:nth-child(1) {
        top: 100%;
    }


    input:checked+header nav {

        height: 100vh;
    }

    input:checked+header label div:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
    }

    input:checked+header label div:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
    }

    input:checked+header label div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
    }




}







/*--------------------------------
 Responsiv For Smartphone end
---------------------------------*/