* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;


}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: auto;
}

/* section_1-navigation_bar start*/


.section_1-navigation_bar {
    background-color: #282E3F;
    color: #ffff;
}

.nav_content {
    display: flex;
    /* gap: 120px; */
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav_logo_items {
    display: flex;
    gap: 9.75px;
    align-items: center;
}

.nav_logo img {
    padding-top: 10px;
}

.nav_logo_items h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Crimson Text", serif;
}

.nav_logo_items p {
    font-size: 10px;
    font-family: "DM Sans", sans-serif;
    color: #BBBBBB;
}

.nav_all_ancor {
    display: flex;
    gap: 40PX;
    align-items: center;
}

.nav_all_ancor a {
    padding-left: 35px;
    font-size: 15px;
    color: #fff;
}

.nav_all_ancor a:hover {
    color: #CF9455;
    transition: .3s;
}

.nav_btn {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px 27px;
    border: solid 1px #CF9455;
    background-color: #CF9455;
}

.nav_btn p {
    font-size: 15px;
}

.nav_btn i {
    font-size: 12px;
    padding-top: 2px;
}

.nav_icon i {
    padding-left: 30px;
    font-size: 20px;
}


.nav-section {
    display: none;
}


/* section_1-navigation_bar end*/

/* nav-section-style-only-smartphone start*/

header {
    background-color: #282E3F;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: absolute;
    z-index: 100;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-right: 120px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    transition: .3s all;


}

nav a:hover {
    color: #eb4d4b;
}


input {
    display: none;
}

.ui-btn p {
    padding: 12px 24px;
    border: solid 1px #A8FE3B;
    background-color: #A8FE3B;
    color: #000;
    font-size: 18px;
}

.nav_main-header h1 {
    font-size: 26px;
    color: #fff;
    text-align: center;

}

/* nav-section-style-only-smartphone end*/



/* section_2-hero style start here */

.section_2-hero {
    background-image: url(imges/hero_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 500px;
    color: #fff;
}

.hero_text {
    padding-top: 106px;
}

.hero_text h1 {
    max-width: 580px;
    font-size: 65px;
    font-weight: 600;
    line-height: 1.3142857142857142em;
    font-family: "Crimson Text", serif;
}


.hero_text p {
    font-size: 14px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    padding-top: 18px;
    padding-bottom: 34px;
}

.hero_btn button {
    padding: 20px 39px;
    border: solid 1px #CF9455;
    background-color: #CF9455;
    color: #fff;
}

.hero_btn {
    display: flex;
    gap: 30px;
}


.hero_btn_icon {
    display: flex;
}

.right-btn {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.right-btn h3 {
    font-size: 15.38px;
    padding-top: 6px;

}


/* section_2-hero style end here */

/* hero_side_div style start here */

.hero_side_div {
    max-width: 370px;
    background-color: #fff;
    position: absolute;
    right: 19%;
    top: 25%;
    padding: 44px 24px 30px 29px;
    border: solid 1px #D6D6D6;
}

.hero_side_div h2 {
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    color: #333A4D;
}

.hero_side_div p {
    max-width: 264px;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    color: #888888;
    padding-top: 13px;
    padding-bottom: 28px;
}


.hero_side_div_items {
    display: flex;
    align-items: center;
    gap: 15.5px;
    border: solid 1px #e7e7e7;
    margin-bottom: 10px;
    background-color: #FAFAFA;

}

.hero_side_div_items i {
    color: #AAAAAA;
    padding-left: 25px;
}

.hero_side_div_items p {
    padding-top: 36px;
    padding: 16px 114px 16px 0px;
}

.hero_side_div_btn {
    text-align: center;
    padding: 15px 58px;
    background-color: #CF9455;
}

.hero_side_div_btn a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}



/* hero_side_div style end here */

/* section_3 style start here */


.lawyer_info {
    display: flex;
    gap: 50px;
    /* align-items: center; */
    padding-top: 105px;
    padding-bottom: 150px;
}

.lawyer_about h5 {
    font-size: 12px;
    color: #CF9455;
    padding-top: 74px;

}

.lawyer_about h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2em;
    font-family: "Crimson Text", serif;
    padding-bottom: 12px;


}

.lawyer_about h6 {
    font-size: 13px;
    color: #AAAAAA;
    font-family: "DM Sans", sans-serif;
}

.lawyer_about p {
    font-size: 14px;
    color: #666666;
    font-family: "DM Sans", sans-serif;
    padding-top: 35px;
    padding-bottom: 42px;
}

.lawyer_name {
    display: flex;
    gap: 49px;
    align-items: center;
}

.lawyer_name_right h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.6666666666666667em;
    font-family: "Crimson Text", serif;
}

.lawyer_name_right h3 {
    font-size: 14px;
    color: #CF9455;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
}

.calender {
    min-width: 290px;
    height: 300px;
    padding-top: 40px;
}

/* experiences-area start */

.experiences-area {
    position: absolute;
    left: 27%;
    bottom: -40%;
    max-width: 240px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 34px 30px;
    border: solid 1px #CF9455;
    background-color: #282E3F;
}

.years_left_area h1 {
    font-size: 55px;
    font-family: "DM Sans", sans-serif;
    color: #CF9455;

}

.years_left_area p {
    font-size: 14px;
    letter-spacing: 5px;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    padding-left: 10px;
}

.years_right_area p {
    font-size: 16px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

/* experiences-area end */

/* meeting time site style start here */


.meeting-time-site {
    position: absolute;
    right: 18.50%;
    bottom: -30%;
    max-width: 300px;
    padding: 32px 19px;
    background-color: #333A4D;
    color: #fff;
}

.meeting_with_smith {
    display: flex;
    gap: 25px;
    align-items: center;
}


.meeting_with_smith h3 {
    font-size: 14px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    color: #fff;
}

.meeting_time {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 17px;
}

.smith_flex-2 p {
    font-size: 13px;
    color: #CCCCCC;
}

.meeting_date {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: 30px;
}

.confirm-btn {
    padding: 9px 16px;
    background-color: #CF9455;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.reschedul-btn {
    padding: 9px 16px;
    background-color: #fff;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-weight: 500
}



/* meeting time site style end here */




/* section_3 style end here */




/*--------------------------
 Responsiv For Tablet 
---------------------------*/

@media (max-width: 992px) {

    /* section_1-navigation_bar start*/

    .nav-section {
        display: none;
    }

    .section_1-navigation_bar {
        display: block;
    }

    .nav_content {
        gap: 40px;
    }

    .nav_all_ancor {
        gap: 15px;

    }

    .nav_all_ancor a {
        padding-left: 12px;
        font-size: 10px;
    }

    .nav_btn {
        gap: 10px;
        /* padding: 10px; */
        padding-left: 30px;
        margin-left: 20px;

    }

    .nav_btn p {
        font-size: 10px;
        ;
    }


    .nav_btn i {
        font-size: 12px;
        padding-top: 0px;
    }

    .nav_icon {
        display: none;
    }

    /* section_1-navigation_bar end*/


    /* section_2-hero style start here */



    .hero_text {
        padding-top: 100px;
    }

    .hero_text h1 {
        font-size: 40px;
    }


    .hero_text p {
        font-size: 12px;
        font-weight: 600;
        font-family: "DM Sans", sans-serif;
    }

    .hero_btn button {
        padding: 15px 25px;
    }

    /* section_2-hero style start here */

    /* hero_side_div_style start here */

    .hero_side_div {
        max-width: 370px;
        right: 5%;
        top: 16%;
        padding: 30px 15px 20px 19px;

    }

    .hero_side_div h2 {
        font-size: 15px;
    }

    .hero_side_div p {
        max-width: 264px;
        font-size: 12px;
    }


    .hero_side_div_items p {
        padding-top: 36px;
        padding: 14px 64px 14px 0px;
    }

    .hero_side_div_btn a {
        font-size: 14px;
    }


    /* hero_side_div_style end here */


    /* section_3 style start here */


    .lawyer_info {
        display: flex;
        gap: 50px;
        padding-top: 105px;
        padding-bottom: 150px;
    }

    .lawyer_about h5 {
        font-size: 13px;
        padding-top: 0px;

    }

    .lawyer_about h1 {
        font-size: 40px;
    }

    .lawyer_about p {
        font-size: 14px;
        padding-top: 35px;
        padding-bottom: 42px;
    }

    .lawyer_name {
        display: flex;
        gap: 49px;
        align-items: center;
    }

    .lawyer_name_right h2 {
        font-size: 18px;
    }

    .lawyer_name_right h3 {
        font-size: 12px;
    }

    .calender {
        position: absolute;
        bottom: -60%;
    }

    /* experiences-area start */

    .experiences-area {
        left: 60%;
        bottom: -27%;
    }

    .years_left_area h1 {
        font-size: 45px;

    }

    .years_left_area p {
        font-size: 12px;
    }

    .years_right_area p {
        font-size: 14px;
    }

    /* experiences-area end */

    /* meeting time site style start here */


    .meeting-time-site {
        right: 7.50%;
        bottom: -60%;
        min-height: 262px;
    }



    .meeting_with_smith h3 {
        padding-bottom: 10px;
    }

    .meeting_btn {
        padding-top: 30px;
    }


    /* meeting time site style end here */

    /* section_3 style end here */


}


/*--------------------------
 Responsiv For Tablet end
-----------------------------*/

/*--------------------------------
 Responsiv For Smartphone start
-----------------------------------*/

@media (max-width: 767px) {

    .section_1-navigation_bar {
        visibility: hidden;
    }

    .nav-section {
        display: block;
    }

    .nav_content {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* Only Smartphone */

    nav {
        position: absolute;
        top: 90px;
        left: 0;
        background-color: #282e3fa6;
        backdrop-filter: blur(20px);
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 0;
        justify-content: flex-start;
        gap: 37px;
        overflow: hidden;
        transition: .5s;
    }

    nav a:nth-child(1) {
        margin-top: 30px;
    }

    label {
        width: 45px;
        height: 30px;
        position: relative;
    }

    label div {
        width: 100%;
        height: 5px;
        background-color: #ffffff;
        position: absolute;
        border: 99px;
        transform: translate(-50%);
        transition: 0.3s;
        transform: scale(1);
        opacity: 1;
    }

    label div:nth-child(1) {
        top: 0;
    }

    label div:nth-child(2) {
        top: 50%;
    }

    label div:nth-child(1) {
        top: 100%;
    }


    input:checked+header nav {

        height: 100vh;
    }

    input:checked+header label div:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
    }

    input:checked+header label div:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
    }

    input:checked+header label div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
    }


    /* section_2-hero style start here */

    .section_2-hero {
        min-height: 855px;
    }

    .hero_text {
        text-align: center;
        padding-top: 60px;
    }

    .hero_btn button {
        text-align: center;
        padding: 15px 29px;
        font-size: 10px;
    }


    .hero_side_div {
        position: absolute;
        right: 10%;
        top: 55%;
        padding: 44px 24px 30px 29px;
    }

    /* section_2-hero style end here */

    /* section_style start here */

    .lawyer_img img {
        max-width: 300px;
    }

    .lawyer_about {
        text-align: center;
    }

    .lawyer_info {
        display: flex;
        flex-direction: column;
    }

    .lawyer_name {
        gap: 39px;
        justify-content: center;
    }

    .lawyer_name_right h2 {
        font-size: 18px;
    }

    .lawyer_name_right h3 {
        font-size: 12px;
    }

    .calender {
        position: absolute;
        top: 1900px;
        padding-left: 15px;
        min-width: 310px;


    }

    /* experiences-area start */

    .experiences-area {
        max-width: 200px;
        left: 50%;
        bottom: -79.2%;
        padding: 20px 6px;
    }

    .years_left_area h1 {
        font-size: 35px;

    }

    .years_left_area p {
        font-size: 10px;
    }

    .years_right_area p {
        font-size: 12px;
    }

    /* experiences-area end */

    /* meeting time site style start here */


    .meeting-time-site {
        position: relative;
        right: 0%;
        bottom: -170px;
        min-height: 0px;
        margin-left: 15px;
    }



    .meeting_with_smith h3 {
        padding-bottom: 0px;
    }

    .meeting_btn {
        padding-top: 0px;
    }

    .confirm-btn,
    .reschedul-btn {
        font-size: 14px;
    }


    /* meeting time site style end here */


    /* section_style end here */


}








/*--------------------------------
 Responsiv For Smartphone end
---------------------------------*/